@import "tailwindcss";

:root {
    --background: #111;
    --foreground: #171717;
    --text-accent: #e1bac5;
    --text-secondary: #cec4ef;
    --text-light: #e9e9f1;
    --text-medium: #c7c6d3;
    --text-disable: #8b8a91;
    --text-muted: #a1a1af;
    --text-opp-light: #121319;
    --text-placeholder: #58585e;
    --base-tint: #161616;
    /* --font-sync: "Syne", sans-serif; */
    --stroke-controls-neutral: #ffffff4d;
    --stroke-elements: #303033;
    --stroke-controls:  #4b4b51;

    --_radius-s : 1.7rem;
    --_radius-m : 2.6rem;
    --_radius-xl: 3.6rem;
    --_animbezier: cubic-bezier(.23,.65,.74,1.09);
}

@theme {
    --breakpoint-lg: 62rem;
    --breakpoint-xl: 75rem;
    --breakpoint-2xl: 87.5rem;
    --breakpoint-3xl: 100rem;
    
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--text-accent);
    --color-secondary: var(--text-secondary);
    --color-gray-300: var(--text-light);
    --color-gray-500: var(--text-medium);
    --color-gray-600: var(--text-disable);
    --color-stroke-neutral: var(--stroke-controls-neutral);
    --color-stroke-controls: var(--stroke-controls);
    --color-stroke: var(--stroke-elements);
    
    /* Font Utilities */
    --font-sync: var(--font-sync);
    --font-inherit: inherit;

    /* Border */
    --radius-4xl: 2rem;
    --radius-5xl: 3rem;

    /* Gradient */
    --background-image-linear-accent: linear-gradient(15deg,var(--text-accent) 0%,var(--text-secondary) 80%);
}

@layer base {
    
    html {
        font-size: 62.5%;
    }

    body {
        font: normal 400 1.6rem/1.4 var(--font-sync), sans-serif;
        color: var(--text-medium);
        background: var(--background);
    }

    img {
        @apply w-full h-auto block
    }

    h1 {
        @apply text-[3.8rem] md:text-[5rem] xl:text-8xl 2xl:text-[7rem] 3xl:text-9xl leading-tight font-bold font-sync text-transparent [-webkit-text-fill-color:transparent] bg-linear-accent bg-clip-text
    }

    h2 {
        @apply xl:max-w-280 2xl:max-w-7xl 3xl:max-w-360 text-[3.4rem]/[1.2] md:text-[3.8rem] xl:text-[4.6rem] 2xl:text-[5.4rem] 3xl:text-8xl font-bold font-sync text-transparent [-webkit-text-fill-color:transparent] bg-linear-accent bg-clip-text
    }

    h3 {
        @apply text-[2.8rem]/[1.2] md:text-5xl/[1.2] 2xl:text-[4.4rem]/[1.2] font-bold font-sync text-gray-300
    }

    h5 {
        @apply text-[2.2rem]/[1.2] 3xl:text-5xl/[1.2] font-bold font-sync text-gray-300
    }

    h6 {
        @apply text-[1.6rem]/[1.2] 2xl:text-[1.8rem] 3xl:text-[2rem] font-bold font-sync text-gray-300
    }

    p {
        @apply text-[2rem]/[1.4] 2xl:text-[2.2rem] 3xl:text-[2.4rem] text-gray-500 font-normal font-sync
    }

    form input, 
    form textarea {
        @apply relative block w-full text-[2rem]/[1.4] font-bold font-sync text-gray-300 bg-transparent border-0 border-b-2 border-b-stroke m-0 py-[1.4rem] px-[.4rem] outline-none focus:border-b-(--text-accent)
    }

    form input::placeholder, 
    form textarea::placeholder {
        @apply text-[2rem]/[1.4] font-bold font-sync text-(--text-placeholder)
    }

}

@layer components {

    .section-h3 {
        @apply mb-[4.1rem] 2xl:mb-[3.9rem] 3xl:mb-[3.7rem]
    }

    .section-h3.section-h3-grid {
        @apply mb-[2.1rem] 2xl:mb-8 3xl:mb-[1.8rem]
    }

    p.small {
        @apply text-[1.8rem]/[1.4] 3xl:text-[2rem]/[1.4]
    }

    .btn {
        @apply relative inline-flex items-center justify-center gap-1.5 p-0 font-inherit cursor-pointer select-none bg-transparent border-0 outline-none no-underline;
    }

    .btn-default {
        @apply w-auto h-20 3xl:h-24 text-[1.6rem]/[5rem] 3xl:text-[2rem]/[6rem] font-bold font-sync rounded-(--_radius-m) px-8
    }

    .mobile-vertical {
        @apply flex w-full mb-4
    }

    .btn-hover-accent {
        @apply before:bg-linear-accent
    }

    .btn-hover-accent-mobile {
        @apply before:bg-linear-accent lg:before:bg-none lg:before:bg-background lg:before:border lg:before:border-stroke-controls
    }

    .btn-hover-outline-mobile {
        @apply before:bg-transparent before:border lg:before:border-none before:border-stroke-controls lg:before:border-transparent
    }

    .btn-default i, 
    .btn-default span {
        @apply relative
    }

    .btn-default i {
        @apply text-[1.8rem] 3xl:text-[2.2rem] ml-[.6rem]
    }

    .btn-hover i, 
    .btn-hover span {
        @apply block text-transparent leading-20! 3xl:leading-24! transition-all duration-300 overflow-hidden
    }
 
    .btn-hover-accent i, 
    .btn-hover-accent span {
        @apply text-shadow-[0_0_var(--text-opp-light),0_5rem_var(--text-opp-light)] 3xl:text-shadow-[0_0_var(--text-opp-light),0_6rem_var(--text-opp-light)]
    }

    .btn-hover-accent-mobile i, 
    .btn-hover-accent-mobile span {
        @apply text-[#121319] lg:text-gray-300 xl:text-transparent text-shadow-[0_0_var(--text-light),0_5rem_var(--text-light)] 3xl:text-shadow-[0_0_var(--text-light),0_6rem_var(--text-light)]
    }

    .btn-hover-outline-mobile i, 
    .btn-hover-outline-mobile span {
        @apply text-gray-300 lg:text-gray-600 xl:text-transparent text-shadow-[0_0_var(--text-disable),0_5rem_var(--text-disable)] 3xl:text-shadow-[0_0_var(--text-disable),0_6rem_var(--text-disable)]
    }

    /* ----- Header ------*/

    .header {
        @apply fixed lg:top-12 2xl:top-20 bottom-6 md:bottom-12 lg:bottom-auto left-1/2 lg:left-auto lg:right-0 right-auto w-auto lg:w-[calc(100%-330px)] xl:w-[calc(100%-360px)] 2xl:w-[calc(100%-480px)] 3xl:w-[calc(100%-500px)] h-[4.4rem] lg:h-20 3xl:h-24 bg-[rgba(0,0,0,0.03)] lg:bg-transparent backdrop-blur-[10px] lg:backdrop-blur-none rounded-4xl lg:px-12 xl:pr-24 2xl:pr-32 3xl:pr-40 2xl:pl-20 -translate-x-1/2 lg:translate-0 z-10
    }

    .menu__link {
        @apply w-[4.4rem] lg:w-20 xl:w-auto h-[4.4rem] lg:h-20 3xl:h-24 text-[1.8rem] xl:text-[1.6rem]/[5rem] 3xl:text-[2rem]/[6rem] text-gray-600 font-bold font-sync bg-transparent backdrop-blur-3xl border border-transparent rounded-4xl lg:rounded-[2.6rem] xl:px-8 3xl:px-[2.4rem] transition duration-300 ease-in-out hover:text-gray-300
    }

    .menu__link.active {
        @apply text-(--text-opp-light) lg:text-gray-300 bg-[#fafafa] lg:bg-transparent lg:backdrop-blur-[6px] lg:border-stroke-neutral
    }

    .menu__link span {
        @apply hidden xl:inline
    }

    .menu__link i {
        @apply lg:relative xl:hidden
    }

    .header__trigger{
        @apply w-[4.4rem] lg:w-auto h-[4.4rem] lg:h-20 3xl:h-24 text-[1.6rem] lg:text-[1.6rem]/[5rem] 3xl:text-[2rem]/[6rem] lg:font-bold px-0 lg:px-8 ml-4
    }

    .header__trigger i {
        @apply ml-0 lg:ml-[.6rem]
    }

    /* ----- Sidebar ------*/

    .sidebar {
        @apply relative lg:fixed lg:top-12 2xl:top-20 lg:left-12 xl:left-12 2xl:left-32 3xl:left-40 w-[calc(100vw-3rem)] md:w-[calc(100vw-12rem)] lg:w-[300px] 2xl:w-[400px] h-auto lg:h-[calc(100vh-70rem)] 2xl:h-[calc(100vh-10rem)] mx-auto lg:m-0 pt-6 md:pt-12 lg:pt-0 pb-24 md:pb-30 lg:pb-0 origin-top-left z-10
    }

    .sidebar__container {
        @apply relative w-full lg:h-[680px] 2xl:h-[830px] bg-(--base-tint) border border-stroke rounded-[3.6rem] p-12 2xl:p-20
    }

    .profile__contents{
        @apply w-full h-full flex flex-col lg:justify-between gap-12 md:gap-16 lg:gap-0
    }

    .social__link {
        @apply w-[4.4rem] 2xl:w-20 h-[4.4rem] 2xl:h-20 text-[1.8rem] text-gray-300 border border-stroke-controls rounded-4xl 2xl:rounded-[2.2rem]
    }

    .social__link i {
        @apply relative block text-[1.8rem]/[4.4rem] text-gray-300 xl:text-transparent xl:text-shadow-[0_0_var(--text-light),0_4.4rem_var(--text-light)] 2xl:text-shadow-[0_0_var(--text-light),0_5rem_var(--text-light)] 2xl:leading-20! transition-all duration-300 overflow-hidden 
    }

    /* Main Contents */

    .main__content {
        @apply relative min-w-xl h-auto lg:pl-[330px] xl:pl-[360px] 2xl:pl-[480px] 3xl:pl-[500px]
    }

    .sec__wrapper {
        @apply py-24 md:py-30 lg:pt-44 lg:pb-16 2xl:pt-60 2xl:pb-8 3xl:pt-64
    }

    .content__wrapper {
        @apply flex flex-col justify-end w-full h-full px-6 md:px-24 lg:px-12 xl:pr-24 2xl:pr-32 3xl:pr-40 2xl:pl-20
    }

    .content__wrapper.grid-block {
        @apply px-0 md:px-18 lg:px-6 xl:pr-18  2xl:pr-22 3xl:pr-30 xl:pl-6 2xl:pl-10
    }

    .content__wrapper.block-large {
        @apply mb-44 md:mb-52 2xl:mb-[14.6rem] 3xl:mb-[15.6rem]
    }

    .grid-item {
        @apply mt-12 2xl:mt-20 px-6 2xl:px-10
    }

    .sub__title {
        @apply inline-flex items-center gap-4 w-max h-[3.4rem] 3xl:h-[3.8rem] text-[1.3rem]/[3.3rem] 3xl:text-2xl/[3.8rem] font-bold font-sync bg-background border border-stroke rounded-[1.7rem] px-[1.4rem] mb-4 md:mb-[1.4rem] xl:mb-[1.7rem] 2xl:mb-[1.9rem] 3xl:mb-[2.2rem]
    }

    .sub__title svg {
        @apply w-[1.1rem] 3xl:w-[1.3rem] h-[1.1rem] 3xl:h-[1.3rem]
    }

    .rounded-tag {
        @apply inline-flex items-center h-[3.4rem] text-[1.5rem]/[1] font-normal font-sync lining-nums rounded-(--_radius-s) px-[1.4rem] my-2 mr-4
    }

    /* Resume Section */

    .resume-lines__item {
        @apply border-b first-of-type:border-t border-stroke pt-[4.8rem] md:pt-[4.4rem] pb-[4.3rem] 3xl:pb-16
    }

    .resume-lines__date {
        @apply block text-[1.5rem]/[1] font-normal font-sync text-gray-500 lining-nums mb-[1.8rem] md:mb-0 md:mt-[.4rem]
    }

    .resume-lines__title, 
    .resume-lines__source {
        @apply pr-12 2xl:pr-20
    }

    .resume-lines__source {
        @apply text-[1.5rem]/[1.4] text-gray-500 mt-[.3rem]
    }

    .resume-lines__source a {
        @apply text-gray-100 font-bold
    }

    .resume-lines__descr {
        @apply text-gray-500 mt-[2.4rem] md:mt-0
    }

    /* Contact Section */

    .socials-cards__card {
        @apply relative w-full 3xl:text-[7rem] bg-background border border-stroke rounded-(--_radius-xl) text-center p-12 scale-100 will-change-transform hover:border-stroke-controls hover:transform-[scale3d(1.05,1.05,1.05)];
        transition-property: transform, background-color, border-color;
        transition-duration: 300ms;
        transition-timing-function: var(--_animbezier),ease-in-out,ease-in-out;
    }

    .socials-cards__card i {
        @apply block text-8xl text-(--text-placeholder) transition-colors duration-300 ease-in-out group-hover:text-gray-300
    }

    .socials-cards__link {
        @apply absolute top-0 left-0 block w-full h-full
    }

    .teaser__text {
        @apply md:max-w-248 2xl:max-w-7xl 3xl:max-w-368 text-[2.6rem]/[1.2] md:text-5xl/[1.2] 2xl:text-[3.8rem]/[1.2] 3xl:text-[4.4rem]/[1.2] font-bold font-sync text-transparent lining-nums bg-linear-accent [-webkit-text-fill-color:transparent] bg-clip-text
    }

}

@layer utilities {

    body::-webkit-scrollbar {
        @apply w-2 h-2
    }

    body::-webkit-scrollbar-track {
        @apply bg-black
    }

    body::-webkit-scrollbar-thumb {
        @apply rounded bg-[linear-gradient(to_bottom,var(--color-accent)_0%,var(--color-secondary)_80%)];
    }

    .btn-hover::before {
        content: "";
        @apply absolute inset-0 block w-full h-full rounded-(--_radius-m) will-change-transform scale-100 transition-transform duration-300;
        transition-timing-function: var(--_animbezier);
    }

    .header__trigger::before {
        @apply content-[''] rounded-4xl lg:before:rounded-(--_radius-m)
    }

    .no-touch .btn-hover:hover::before {
        @apply scale-[1.03];
    }

    .no-touch .btn-hover-accent:hover i, 
    .no-touch .btn-hover-accent:hover span {
        @apply text-shadow-[0_-5rem_var(--text-opp-light),0_0_var(--text-opp-light)] 3xl:text-shadow-[0_-6rem_var(--text-opp-light),0_0_var(--text-opp-light)];
    }

    .no-touch .btn-hover-accent-mobile:hover i, 
    .no-touch .btn-hover-accent-mobile:hover span {
        @apply text-shadow-[0_-5rem_var(--text-light),0_0_var(--text-light)] 3xl:text-shadow-[0_-6rem_var(--text-light),0_0_var(--text-light)];
    }

    .no-touch .btn-hover-outline-mobile:hover i, 
    .no-touch .btn-hover-outline-mobile:hover span {
        @apply text-shadow-[0_-5rem_var(--text-light),0_0_var(--text-light)] 3xl:text-shadow-[0_-5rem_var(--text-light),0_0_var(--text-light)]
    }

    .no-touch .social__link:hover i {
        @apply xl:text-shadow-[0_-4.4rem_var(--text-light),0_0_var(--text-light)] 2xl:text-shadow-[0_-5rem_var(--text-light),0_0_var(--text-light)]
    }

    .mobile-vertical:last-child {
        @apply mb-0
    }

    .grid-item-s {
        @apply mt-8 px-4
    }

    @media (min-width: 576px) {
        .mobile-vertical {
            @apply inline-flex w-auto mb-0 mr-4
        }

        .mobile-vertical:last-child {
            @apply mr-0
        }
    }
    
}